body{
	background-image: url(img33.jpg);
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
	
}
#quotes-body {
	background-size: 100% 300%;
}
header {
	width: 100%;
	height: 90px;
	border-bottom-style:solid;
	border-color: #C3D7DF;
	border-width: 0.5px;
}
#wrapper
{   max-width: 1200px;
	margin: 0 auto;}
#logo
{
		margin: -10px auto;
		float: left;
		width: 100px;
		height: 100px;
		background: url(123.png) no-repeat center;
	}
	/*----starte nave--*/
	nav{
		float: right;
		padding: 0px;
	}
	#menu-icon
	{
		display: hidden;
		width: 40px;
		height: 40px;
		background: url(menu-icon.png);
	}
	a:hover#menu-icon{
		border-radius: 4px 4px 0px;
	}
	ul{
		list-style-type: none;
	}
	nav ul li{
		margin-top: -40px;
		padding: 50px;
		display: inline-block;
		float: left;
		font-size: 28px;
	}
	nav ul li a{
		color: #C3D7DF;
		text-decoration: none;
	}
	nav ul li a:hover{
		color: orange;
	}
	.current li a {
		color: orange;
	}
	#allheading {
		position: absolute;
		font-size: 100px;
		color: #F5F5F5;
		margin-left: 40%;
		font-family: Time New Roman;
	}
        .row {
		margin-top: 250px;
		position: absolute;
	float: left;
	width: 100%;
}

	#banner{
		margin-top: -10px;
		width: 150px;
		height: 163px;
		padding-left: 45%;
	}
	#title{
		font-size: 50px;
		text-align: center;
		color: #C3D7DF;
		font-family: Georgia;
		margin-top: 0px;
	}
	#title2{
		color: #C3D7DF;
		margin-top: -25px;
		font-family: Time New Roman;
		font-size: 35px;
	}
	#mysearch {
		text-align: center;
		margin-left: 350px;
		margin-top: -10px;
		width: 50%;
		height: 45px;
		border: 1px #ddd;
		border-radius: 25px 25px 25px 25px;
		font-size: 20px;
		background-image: url(search-icon.png);
		background-repeat: no-repeat;
		background-position: 5px 5px;
	}
	#right-line{
		color: orange;
		width: 25%;
		float: right;
		margin-right: 300px;
		margin-top: 30px;}
	#left-line{
		color: orange;
		width: 25%;
		float: left;
		margin-left: 300px;
        margin-top: 30px;
	}
	p{
		text-align: center;
		color: #C3D7DF;
		margin-top: 20px;
	}
	#explore-quotes{
		font-size: 20px;
		border-radius: 5px 5px 5px 5px;
		background-color:orange;
		text-align: center;
		margin-left: 45%;  
		height:40px;
		margin-top: 20px;
		margin-bottom: -50px
	}
	button:hover#explore-quotes {
		background-color: #C3D7DF;
	}
	.social{
		text-align: center;
	}

	.social i{
		font-size: 40px;
		margin: 1%;
		padding: 5% 5% 5% 3%;
		color: #C3D7DF;
		margin-bottom: -40px;
	}
	.social i:hover {
		color: orange;
	}
/*-----------------MEDIA!!!-------------------*/
@media screen and (max-width: 1320px) {
	header {
		position: absolute;
	}
#logo {
	margin: -5px px 0px 0px;
}
#menu-icon {
	display: inline-block;
}
nav ul, nav:active ul {
	display: none;
	z-index: 500;
	position: absolute;
	padding: 50px;
	background-color: white;
	right: 50px;
	top: 100px;
	border: 1px solid #000;
	width: 30%
}
nav:hover ul {
	display: block;
}
nav ul li {
	text-align: center;
	width: 100%;
	padding: 30px;
	font-size: 25px;
	color: black;

}
#banner {
	display: none;
}
#title {
	padding-top: 200px;

}
#mysearch {
	position: absolute;
	padding-top: 0px;
	right: 80px;

}
#right-line {
	position: absolute;
	margin-top: 100px;

}
#left-line {
	position: absolute;
	margin-top: 100px;
}
p {
	position: absolute;

}
#explore-quotes {
	position: absolute;
	margin-top: 200px;
	right: 0px;
}
.social {
	padding-top: 300px;
}

/*----------------quotes design-------------*/
.quote
{
	width:1200px;
	min-height: 400px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	z-index: 2;
}
.quote .box
{ 
	position: relative;
	width: 360px;
	height: 400px;
	background: #fff;
	overflow: hidden;
	transition: 0.5s;
	z-index: 2;
	box-sizing: border-box;
	padding: 30px;
	box-shadow: -10px 25px 50px rgba(0,0,0,.2);
}
.quote .box:hover
{
	box-shadow: -20px 50px 100px rgba(0,0,0,.5);
}
.quote .box p
{
	margin: 0;
	padding: 0;
	font-size: 18px;
}
.quote .box:hover p{
	color: #fff;

}
.quote .box h2
{
	position: absolute;
	bottom: 30px;
	right: 30px;
	margin: 0;
	padding: 0;
	font-size: 18px;
	text-transform: uppercase;
}
.quote .box:hover h2{
	color: #fff;
	
}
.quote .bg
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0;
	background: #000
	transition: 0.5s;
	pointer-events: none;
	width: 100%;
	height: 100%;
}
.quote .box.box1:hover ~ .bg,
.quote .box.box1:hover
{
	opacity: 1;
	box-shadow: linear-gradient(#03A9F4,#E91E63);
}
.quote .box.box2:hover ~ .bg,
.quote .box.box2:hover
{
	opacity: 1;
	box-shadow: linear-gradient(#FFC107,#19fd36);
}
.quote .box.box3:hover ~ .bg,
.quote .box.box3:hover
{
	opacity: 1;
	box-shadow: linear-gradient(#FFC107,#E91E63);
}
.quote .box.box4:hover ~ .bg,
.quote .box.box4:hover
{
	opacity: 1;
	box-shadow: linear-gradient(#03A9F4,#E91E63);
}
.quote .box.box5:hover ~ .bg,
.quote .box.box5:hover
{
	opacity: 1;
	box-shadow: linear-gradient(#03A9F4,#E91E63);
}
.quote .box.box6:hover ~ .bg,
.quote .box.box6:hover
{
	opacity: 1;
	box-shadow: linear-gradient(#03A9F4,#E91E63);
}
.quote .box:before
{
	content: '';
	position: absolute;
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.2);
	pointer-events: none;

}
.quote .box:after
{
	content: '';
	position: absolute;
	bottom: : 10%;
	right: : 10%;
	opacity: .1,
	background: rgba(255,255,255,.2);
	pointer-events: none;
	filter: invert(1);

}
.quote .box:hover:after
{
	filter: invert(0);

}